/*!==========================================================================
   Layout
   ========================================================================== */


/* ======================== Body & Wrapper ======================== */



/* ======================== Header ======================== */
#header{
   background:#fff;
   padding:17px 0;
   .top-full-width{
		margin: -30px 0px 0px;
	}
	.logo img{
		max-width:136px;
	}
}

.hidden-middle{
	display:block
}
.show-middle{
	display:none;
	text-align:center;
}
@media (max-width: 1000px){
.hidden-middle{
   display:none;
}

.show-middle{
	display:block;
}
}
/* ======================== Footer ======================== */

.footer{
	background:#fff;
   margin:-90px 2% 0;
   padding:30px 0;
   position:relative;
   .copy{
   	p{
   		color:#7f7f7f;
   		@include	montserrat-font-reg;
   		margin:0;
   		font-size:13px;
   	}
   }
}

.soc-list{
	margin:0 -10px 0 0;
	text-align:right;
	a{
		color:#bdbec0;
		margin:0 10px;
	}
	img{
		height:17px;
		width:auto;
	}
}

@media (max-width: 1000px){
	.footer{
		text-align:center;
		margin:0 auto;
		padding:33px 0;
		.soc-list{
			text-align:center;
			padding:15px 0 0;
		}
	}
}

/* ======================== Sections ======================== */


/* ======================== Containers ======================== */

/* ======================== Search ======================== */

.search .fa-times{
	font-size: 18px;
	display: none;
}
/*
.sb-search.sb-search-open .close{
	background: url(assets/img/search.png) no-repeat;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 22px 24px 0 0;
	opacity: 1;
}

#header.single .sb-search.sb-search-open .close{
	background: url(assets/img/close-box.png) no-repeat;
}

.sb-search.sb-search-open .menu,
.sb-search.sb-search-open .fa-search{
	display: none;
}
*/

#sb-search.sb-search.sb-search-open .sb-search-input{
	display: block;
}
#sb-search .sb-search-input::focus{
	border:2px solid #ccc;
}
#sb-search .sb-search-input{
	background: #fff;
	border-radius: 20px;
    border: 2px solid #eee;
    margin: 0 50px 0 0;
    max-width: 100%;
    width:300px;
    height: 34px;
    padding: 0 18px;
    display: none;
    color: #484848;
    font-size: 14px;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
    transition: border-color 0.2s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.search{
	color: #888;
	font-size:16px;
	float: right;
	line-height: 56px;
}


.sb-search {
	position: absolute;
	width: 100%;
	right: 38px;
	margin:0;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: -2px;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 50%;
	height: 50px;
	margin: 0;
	z-index: 10;
	padding: 10px 0 10px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	margin: 0 60px 0 0;
}

.sb-search-input::-webkit-input-placeholder {
	color: #9f9fa7;
}

.sb-search-input:-moz-placeholder {
	color: #9f9fa7;
}

.sb-search-input::-moz-placeholder {
	color: #9f9fa7;
}

.sb-search-input:-ms-input-placeholder {
	color: #9f9fa7;
}

.sb-icon-search,
.sb-search-submit  {
    background:url(assets/img/search.svg) no-repeat 50% 50%;
    background-size:23px 23px;
	width: 30px;
	height: 34px;
	display: block;
	position: absolute;
	right: 0;
	top: -2px;
	padding: 0;
	margin: 0;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	z-index: 90;
	 font-size: 14px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js{
	width: 100%;
	z-index:21;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	color: #888;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
@media (max-width: 800px){
	#sb-search .sb-search-input{
		background: #fff;
		border-radius: 20px;
	    border: 2px solid #eee;
	    margin: 0 50px 0 0;
	    max-width: 100%;
	    width: calc(100% - 89px);
	    height: 34px;
	    padding: 0 18px;
	    display: none;
	    color: #484848;
	    font-size: 14px;
	    font-weight: 400;
		font-family: 'Roboto', sans-serif;
	    transition: border-color 0.2s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
	}
}
