/*!==========================================================================
   Menu Bar
   ========================================================================== */
.menu{
	text-align:center;
	margin: 6px 0 -8px;
	li{
		display:inline-block;
		margin:0 10px;
		padding:0 0 16px 0;
		position: relative;
		a{
			@include montserrat-font-bold;
			color:#4d4d4e;
			text-transform:uppercase;
			font-size:13px;
			text-decoration: none;
			padding:5px 10px;
			&:hover{
				background:#7f7f7f;
				color:#fff;
			}
		}
		&.current-menu-item > a{
				background:#7f7f7f;
				color:#fff;
		}

		.submenu{
			background:#fff;
			border:1px solid #e0e2df;
			width:217px;
			position:absolute;
			left:0;
			top:35px;
			z-index:22;
			text-align:left;
			display:none;
			ul{
				position:relative;
				padding:0;
				list-style:none;
				background:#fff;
				padding:15px 20px;
				z-index:22;

				.submenu{
					left: 195px;
					top: -3px;
					display:none;
				}
			}
			li{
				margin: 0 -20px 0 0;
				padding: 0 20px 0 0;
				display:block;
				&:first-child a{
					border:0;
				}
				a{
					border-top:1px solid #f2f2f2;
					display:block;
				}
			}
			&:before{
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    bottom: 0;
			    box-shadow: 0 0 157px 20px rgba(0, 0, 0, 0.8);
			    content: "";
			    height: 30%;
			    position: absolute;
			    top: 70%;
			    width: 100%;
			    z-index: 1;
			}
		}
		&.menu-item-has-children:hover{
			> .submenu{
				display:block;
			}
		}
	}
}

.hamburger,
.navbar-toggle{
	display:none !important;
}

@media (max-width: 1000px) {
.menu{
	display:none;
}

.hamburger,
.navbar-toggle{
	display:block !important;
}
}
/* ======================== Mobile Menu Bar ======================== */
#menu-4{
	background:#7f7f7f;
	padding:21px 10px 21px 21px;
	.soc-list{
		text-align:left;
		margin-top:40px;
	}
	p{
		color:#a6a6a6;
		@include  montserrat-font-reg;
		font-size:10px;
	}
	.mb-body-left{
		height: 100%;
    	overflow-y: auto;
    	width:100%;
	}
	aside {
	    height: 100%;
	    position: relative;
	}
}

#mb-main-menu{
	padding:20px 11px 0 0;
	list-style:none;
}

#mb-main-menu ul{
	padding:0 0 0 15px;
	margin:0;
	list-style:none;
	display:none;
	li{
		a{
			color:#bfbfbf;
		}
	}
}

#mb-main-menu ul li a{
	display:block;
}

#mb-main-menu li a {
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    .fa-plus{
		background:url(assets/img/down.png) no-repeat;
		width:16px;
		height:12px;
		display:block;
		float:right;
		text-indent:-9999px;
	}
	.fa-minus{
		background:url(assets/img/up.png) no-repeat;
		width:16px;
		height:12px;
		display:block;
		float:right;
		text-indent:-9999px;
	}
	&.submenu-toggler{
		position:absolute;
		top:11px;
		right:0;
	}
}
#mb-main-menu li ul li a{
	text-transform:none;
	&.submenu-toggler{
		top:8px;
	}
}

.mb-body-left{
	li{
		position:relative;
		line-height:40px;
	}
}
.mb-body-left{
	li{
		ul{
			li{
				line-height:22px;
			}
		}
	}
}
/* ======================== Menu Bar ======================== */
